In [1]:
import pandas as pd
print("Setup complete")

Setup complete

In [3]:
ser = pd.Series([1,2,3,4,5], index=['a','b','c','d','e'])

In [4]:
ser

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [5]:
ser['c']

3

In [6]:
'b' in ser

True

In [9]:
ser.get('a','inconnu')

1

In [10]:
ser.get('z','inconnu')

'inconnu'

In [11]:
ser.keys()

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [12]:
list(ser.items())

[('a', 1), ('b', 2), ('c', 3), ('d', 4), ('e', 5)]

In [13]:
ser['e'] = 11
ser

a     1
b     2
c     3
d     4
e    11
dtype: int64

In [14]:
ser[(ser > 1) & (ser < 11)]

b    2
c    3
d    4
dtype: int64

In [15]:
ser[['a','e']]

a     1
e    11
dtype: int64

In [16]:
ser = pd.Series(['a','b','c','d'],index=[1,3,5,7])

In [17]:
ser[1]

'a'

In [19]:
# utilise l'index dÃ©fini
ser.loc[1]

'a'

In [20]:
# utilise l'index defaut
ser.iloc[0]

'a'

In [21]:
pib = pd.Series({'US':1234.56,'JAP':3456.78,'CHI':8910.11,'ALL':1213.14,'UK':1516.17})

In [23]:
pibpop = pd.Series({'US':9876,'JAP':8765,'CHI':7654,'ALL':6543,'UK':5432})

In [24]:
pib_pop = pd.DataFrame({'pib/habitant':pibpop, 'pib':pib})

In [25]:
pib_pop

     pib/habitant      pib
US           9876  1234.56
JAP          8765  3456.78
CHI          7654  8910.11
ALL          6543  1213.14
UK           5432  1516.17

In [26]:
pib_pop['pib']

US     1234.56
JAP    3456.78
CHI    8910.11
ALL    1213.14
UK     1516.17
Name: pib, dtype: float64

In [27]:
pib_pop['population'] = (pib_pop['pib']*1000000) / pib_pop['pib/habitant']

In [28]:
pib_pop

     pib/habitant      pib    population
US           9876  1234.56  1.250061e+05
JAP          8765  3456.78  3.943845e+05
CHI          7654  8910.11  1.164112e+06
ALL          6543  1213.14  1.854104e+05
UK           5432  1516.17  2.791182e+05

In [29]:
pib_pop.values

array([[   9876.        ,    1234.56      ,  125006.07533414],
       [   8765.        ,    3456.78      ,  394384.48374216],
       [   7654.        ,    8910.11      , 1164111.57564672],
       [   6543.        ,    1213.14      ,  185410.36221917],
       [   5432.        ,    1516.17      ,  279118.18851252]])

In [30]:
# transposer
pib_pop.T

,US,JAP,CHI,ALL,UK
pib/habitant,9876.000000,8765.000000,7.654000e+03,6543.000000,5432.000000
pib,1234.560000,3456.780000,8.910110e+03,1213.140000,1516.170000
population,125006.075334,394384.483742,1.164112e+06,185410.362219,279118.188513

In [51]:
# uniquement certaines colonnes
# [row, cols]
# [start:end, start:end]
pib_pop.T.iloc[2:3,2:4]

                     CHI            ALL
population  1.164112e+06  185410.362219

In [57]:
pib_pop.T.loc['pib/habitant':'pib', 'JAP':'CHI']

                  JAP      CHI
pib/habitant  8765.00  7654.00
pib           3456.78  8910.11

In [59]:
pib_pop[pib_pop['population']>1000000]

     pib/habitant      pib    population
CHI          7654  8910.11  1.164112e+06