In [11]:
import pandas as pd
import numpy as np
print("setup complete")

setup complete

In [2]:
pib_dict={'USA':18624.48,'JAP':4936.21,"CHI":11218.28,"ALL":3477.8,'UK':2647.9}

In [3]:
pib = pd.Series(pib_dict)

In [4]:
pib_pop_dict={"US":57638,'JAP':38972,"CHI":8117,"ALL":42232,"UK":40412}
pib_pop = pd.Series(pib_pop_dict)

In [5]:
df_pib_pop = pd.DataFrame({'pib/habitant':pib_pop,'pib':pib})

In [6]:
df_pib_pop

     pib/habitant       pib
ALL       42232.0   3477.80
CHI        8117.0  11218.28
JAP       38972.0   4936.21
UK        40412.0   2647.90
US        57638.0       NaN
USA           NaN  18624.48

In [7]:
df_pib_pop.columns

Index(['pib/habitant', 'pib'], dtype='object')

In [8]:
df_pib_pop.index

Index(['ALL', 'CHI', 'JAP', 'UK', 'US', 'USA'], dtype='object')

In [9]:
df_pib_pop['pib/habitant']

ALL    42232.0
CHI     8117.0
JAP    38972.0
UK     40412.0
US     57638.0
USA        NaN
Name: pib/habitant, dtype: float64

In [10]:
# remplir avec des valeurs NaN
pd.DataFrame([{'alex':12,'ibrahim':11,'sara':15},{'alex':14,'ibrahim':15},{'alex':15,'sara':16}],index=['Français','Maths','Anglais'])

          alex  ibrahim  sara
Français    12     11.0  15.0
Maths       14     15.0   NaN
Anglais     15      NaN  16.0

In [12]:
pd.DataFrame(np.random.rand(2,2),columns=['e1','e2'],index=['a','b'])

         e1        e2
a  0.600427  0.705112
b  0.340225  0.341925

In [13]:
ind = pd.Index(['Français','Maths','Anglais'])

In [15]:
ind[2]

'Anglais'

In [16]:
ind[2:]

Index(['Anglais'], dtype='object')

In [17]:
ind[2::]

Index(['Anglais'], dtype='object')

In [20]:
print("size : ", ind.size,"\nShape : ",ind.shape,"\nNDim : ",ind.ndim,"\nDType : ",ind.dtype)

size :  3
Shape :  (3,)
NDim :  1
DType :  object

In [21]:
ind1 = pd.Index(['Français','Maths','Anglais'])
ind2 = pd.Index(['Français','Sciences'])

In [23]:
# Intersection des indexs
ind1 & ind2

Index(['Français'], dtype='object')

In [24]:
# Union
ind1 | ind2

Index(['Anglais', 'Français', 'Maths', 'Sciences'], dtype='object')

In [25]:
# Difference
ind1 ^ ind2

Index(['Anglais', 'Maths', 'Sciences'], dtype='object')